
$white: #ffffff;
$nav-color: #FFCFCF;
$bkg-color: #FFCFCF;
  
html, body {
  margin: 0;
  font-family: Arial;
  color: $white;
}

p, a {
  font-size: 0.75rem;
}


.container {
  min-height: 100%;
  display: flex;
	.nav {
    width: 15%;
    min-width: 140px;
    color: $nav-color;
    padding-top: 55px;
    padding-right: 30px;
    text-align: center;
    h4 {
      -webkit-margin-before: 0;
      margin-left: 50px;
    }
    ul {
      list-style: none;
    }
  }  
  .main{
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $bkg-color;
    padding-left: 30px;
    h1 {
      font-size: 62px;
      -webkit-margin-before: 0;
      padding-top: 40px;
      
    }
    img {
      height: 350px;
      width: 550px;
    }
    p {
      width: 55%;
      min-width: 550px;
    }
    video {
      display: block;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    ul {
      padding-left: 30px;
      li {
        font-size: 0.85rem;
      }
    }
	}
}


/* ORIGINAL CSS

html, body {
  margin: 0;
  font-family: Arial;
  color: #ffffff;
}

p, a {
  font-size: 0.75rem;
}

.container {
  min-height: 100%;
  display: flex;
}

.container .main {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: #FFCFCF;
  padding-left: 30px;
}

.container .main h1 {
  font-size: 62px;
  -webkit-margin-before: 0;
  padding-top: 40px;
}

.container .main img {
  height: 350px;
  width: 550px;
}

.container .main p {
  width: 55%;
  min-width: 550px;
}

.container .main a {
  color: inherit;
  text-decoration: none;
}

.container .main a:hover {
  text-decoration: underline;
}

.container .main ul {
  padding-left: 30px;
}

.container .main ul li {
  font-size: 0.85rem;
}

.container .nav {
  width: 15%;
  min-width: 140px;
  color: #FFCFCF;
  padding-top: 55px;
  padding-right: 30px;
  text-align: center;
}

.container .nav h4 {
  -webkit-margin-before: 0;
  margin-left: 50px;
}

.container .nav ul {
  list-style: none;
}


*/
