/* My new styles (On production The Rails Asset Pipeline cimbines all css and javascript and minifies it. Yey!*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: white;
}